#ihome .ui-icon {
	background: url(../img/home.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#iemail .ui-icon {
	background: url(../img/email.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#ilocation .ui-icon {
	background: url(../img/world.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#iphotos .ui-icon {
	background: url(../img/camera.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#imore .ui-icon {
	background: url(../img/list-view.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#ifile .ui-icon, #imenu .ui-icon {
	background: url(../img/file.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#ibooking .ui-icon {
	background: url(../img/booking.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#istar .ui-icon {
	background: url(../img/star.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#ipricelist .ui-icon {
	background: url(../img/pricelist.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#iprice .ui-icon {
	background: url(../img/price.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}

#isearch .ui-icon {
	background: url(../img/search.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}
.output {
	font-size: 1em;
	padding: 1em 0;
}
.output .result {
	text-align: right;
}
.output > div {
	border-bottom: 1px solid Gray;
	padding: .1em 0;
}


@media (max-width: 449px) {
	label.ui-slider {
		font-size: 12px;
	}
}

.gallery { list-style: none; padding: 0; margin: 0; height:100%}
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 50%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }
#Gallery1 .ui-content, #Gallery2 .ui-content { overflow: hidden; }

